@media print {

  // Hide Elements
  nav,
  .form-actions,
  .btn-group,
  #atlwdg-trigger {
    display: none;
  }

  // Remove Backgrounds and Box Shadows
  header,
  footer,
  body {
    background: none;
  }

  // Adjust Font Size
  body {
    font-size: 12pt;
    padding: 0;
  }

  // Layout Alterations

}
