# Files in the config/locales directory are used for internationalization
# and are automatically loaded by Rails. If you want to use locales other
# than English, add the necessary files in this directory.
#
# To use the locales, use `I18n.t`:
#
#     I18n.t "hello"
#
# In views, this is aliased to just `t`:
#
#     <%%= t("hello") %>
#
# To use a different locale, set it with `I18n.locale`:
#
#     I18n.locale = :es
#
# This would use the information in config/locales/es.yml.
#
# The following keys must be escaped otherwise they will not be retrieved by
# the default I18n backend:
#
# true, false, on, off, yes, no
#
# Instead, surround them with single quotes.
#
# en:
#   "true": "foo"
#
# To learn more, please read the Rails Internationalization guide
# available at https://guides.rubyonrails.org/i18n.html.
#
# Additionally,
# See http://guides.rubyonrails.org/i18n.html#error-message-interpolation
# See https://github.com/svenfuchs/rails-i18n/tree/master/rails%2Flocale for starting points.

en:
  app:
    title: <%= app_name.titleize %>
    short_title: <%= app_name.titleize.gsub(/[^A-Z]/, '') %>
    support_email: help@tiu11.org
    support_url: http://help.tiu11.org
    sending_email: no-reply@tiu11.org
    messages:
      require_user: You must be logged in to access this page.
      require_no_user: You must be logged out to access this page.

  # Shared Partial Translations
  shared:
    environment_info:
      name: "%{name} Environment"
      revision: "Revision %{revision}"
      released_at: "Released at %{released_at}"
      uptime: "Up for %{uptime}"
