.environment-info {
  background-color: oklch(from var(--bs-primary) calc(l - .06) c h);
  color: var(--bs-light);

  // Keep up against navbar
  @media not print { margin-top: -1rem; }
  margin-bottom: 1rem;

  .container {
    padding-bottom: 0;
  }

  .name {
    font-weight: bold;
  }

  .revision,
  .released-at,
  .uptime {
    font-size: 75%;
    padding-left: 15px;
  }
}
