$grey-background: #f5f5f5;
$footer-height: 60px;

//== Sticky Footer

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-height;
}

footer {
  background-color: $grey-background;
  bottom: 0;
  height: $footer-height;
  position: absolute;
  width: 100%;

  p { margin: 0; }

  #footer-logo {
    margin-top: 8px; // TODO: not great at phone sizes
    max-width: 100%;
  }

  .text-muted {
    margin-top: 20px; // TODO: not great at phone sizes
  }
}
